[submodule "sites/all/modules/jquery_update"]
	path = sites/all/modules/jquery_update
	url = http://git.drupal.org/project/jquery_update.git
[submodule "sites/all/themes/bootstrap"]
	path = sites/all/themes/bootstrap
	url = http://git.drupal.org/project/bootstrap.git
[submodule "sites/all/modules/google_analytics"]
	path = sites/all/modules/google_analytics
	url = http://git.drupal.org/project/google_analytics.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = http://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = http://git.drupal.org/project/views.git
[submodule "sites/all/modules/backup_migrate"]
	path = sites/all/modules/backup_migrate
	url = http://git.drupal.org/project/backup_migrate.git
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = http://git.drupal.org/project/token.git
[submodule "sites/all/modules/metatag"]
	path = sites/all/modules/metatag
	url = http://git.drupal.org/project/metatag.git
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = http://git.drupal.org/project/pathauto.git
